/* Graph Styles */

#graph {
	width: 100%;
	height: 400px;
}

svg {
	font: 10px sans-serif;
}

.line {
	fill: none;
	stroke: #000;
	stroke-width: 1.5px;
}

.positive {
	fill: #74DB82;
	fill-opacity: .5;
}

.negative {
	fill: #E83A00;
	fill-opacity: .5;
}


.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.grid line {
	stroke: #000;
	stroke-dasharray: 9, 5;
	stroke-opacity: .3;
}

.grid path {
	display: none;
}


.stripe line {
	stroke: none;
}

.stripe line.minor {
	stroke-width: 1;
	stroke: #ccc;
	stroke-opacity: .3;
	stroke-dasharray: 5, 5;
}

.y text {
	display: none;
}

.stripe path, .stripe text {
	display: none;
}
